{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/components/css/components.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="">
    {% block header %}
    {% endblock %}
</head>
<body>
<!-- Nav bar start -->
    <div>
        <div class="v203_2022"></div>
        <a href="{% url 'home_logout' %}"><span class="BT"></span></a>
        <a href="#"><span class="menu1">비트레이닝이란?</span></a>
        <a href="{% url 'scheduler_before' %}"><span class="menu2">운동 스케쥴러</span></a>
        <a href="#"><span class="v203_2026">추천 운동 루틴</span></a>
        <a href="#"><span class="v203_2027">나의 그룹</span></a>
        <a href="#"><span class="v203_2028">학교별 랭킹</span></a>
        <!-- 로그인 로그아웃 유저 분기시키기 -->
        <a href="{% url 'login' %}"><span class="login">로그인</span></a>
        <a href="#"><span class="newaccount">회원가입</span></a>
    </div>

<!-- Nav bar end -->
{% block content %}
{% endblock %}
<!-- footer start -->
<footer>
     <div>
        <div class="v203_2036">
            <div class="v139_10"></div>
            <span class="v139_39">회사소개</span>
            <span class="v139_40">(주)비트레이닝 | 대표이사 : 고채원 | TEL. 02-123-4567 | 사업자등록번호 : 123-45-67891 | 통신판매업 : 제2022-서울종로=3959호 | 개인정보관리 책임자 : 강유진<br>
            주소 : 서울특별시 종로구 성균관로 25-2<br>
            EMAIL : youjinv@naver.com.com | COPYRIGHT HANZO ALL RIGHTS RESERVED FOR FUTHER INFORMATION.<br>
            BEATRAINING 호스팅서비스 사업자 : 주식회사 멋쟁이사자처럼</span>
            <span class="v139_41">이용약관</span>
            <span class="v139_42">개인정보취급방침</span>
            <span class="v139_43">제휴문의</span>
            <div class="v203_2033"></div>
            <div class="v203_2034"></div>
            <div class="v203_2035"></div>
        </div>
        <div class="footer-line1"></div>
        <div class="footer-line2"></div>
        <div class="footer-line3"></div>
    </div>
</footer>
<!-- footer end -->
</body>
</html>