{% extends 'base.html' %}
{%load static %}
<!-- header block -->
{% block header %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'routine-empty/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'routine-empty/css/main.css' %}">

{% endblock %} 
 
 
 {% block content %}
    
    
 <div class="write-text">
            <span class="text1">운동이름</span>
            <span class="text2">강도</span>
            <span class="text3">횟수</span>
            <span class="text4">시간</span>
        </div>
        <form class="my-form" id="my-form" action="test.php" method="get">
                <div class="write-box">
                <input class="name-input" type="text" name="name" id="name" autocomplete="off">
                <select class="power-input" name="power" id="power">
                    <option value="high"> 고강도
                    <option value="medium" selected> 중강도
                    <option value="low"> 저강도
                </select>
                <div class="checks">
                    <input type="radio" id="ex_rd" name="ex_rds" value="set">
                    <label for="ex_rd"></label>
                    <input type="radio" id="ex_rd2" name="ex_rds" value="time">
                    <label for="ex_rd2"></label>
                </div>
                
                </div>
                <a href="{% url 'routine_ready' %}"><input class="submit-button" value=" "></a>

        </form>
        <a class="previous-button" href="다음 페이지"><div class="previous">이전 루틴 불러오기</div></a>

        <div class="container radius__all">
            <div class="header radius__top">
                <p class="title">오늘의 루틴</p>
                <p class="desc">2022년 7월 2일</p>
            </div>
            
            <p class="title"><br><br><br>빈 루틴입니다.</p>
            

        </div>
       
        <a class="finish-link" href="다음 페이지"><div class="finish">운동 루틴 작성 완료</div></a>

 {% endblock content %}